/* CSS */
*{appearance:none;-webkit-appearance:none;-moz-appearance:none;text-shadow:none!important;outline:none!important}
html{height:100%}
body{background-color: #dadada; font-family:'Open Sans', sans-serif;-webkit-overflow-scrolling:touch;-webkit-font-smoothing:antialiase;min-height:100%;position:relative;padding-bottom:50px;padding-right:0px!important;margin-right:0px!important}
body.modal-open{overflow:auto}

/* Nav */
nav {padding: 30px 0 20px 0;border-bottom: 1px solid #e8e8e8;margin-bottom: 30px;}
nav ul {list-style-type:none;margin:0;padding:0}
nav ul li a {display:block;float:left;margin-right:15px}
nav ul > li > a.active {font-weight: bold;text-decoration: underline;}

nav ul > li > a:link,
nav ul > li > a:visited {
  color: #1F80DD;
}

nav ul > li > a:active,
nav ul > li > a:hover {
  color: #1F80DD;
  text-decoration: underline; /* underline on hover */
}

/* Header */
header{background:#1F80DD;height:60px;padding-top:10px}
header .tag-line {
  color: white;
  font-family:'Ubuntu', sans-serif;
  font-style: italic;
  font-size: 20px;
  margin-left: 10px;
  vertical-align: -10px;
}
/* Footer */
footer{position:absolute;height:50px;left:0;right:0;bottom:0;text-align:center;font-size:12px}

/* Util */
.block{text-align:center;white-space:nowrap;height:100%}
.block:before{content:'';display:inline-block;height:100%;vertical-align:middle;margin-right:-.25em}
.centered{display:inline-block;vertical-align:middle}

/*----------------------------------------------------------
|	General
+----------------------------------------------------------*/

.panel-heading .fas {
  float: right;
}

.swal2-popup #swal2-content .left-align {
  text-align: left !important;
  font-size: 10px !important;
}

/*----------------------------------------------------------
|	loginwidget
+----------------------------------------------------------*/

#loginwidget {
  float: right;
}

#loginwidget ul {
  padding: 0;
  /*margin:3.3em 0 0 6em;*/
}

#loginwidget li {
  font-size: 10px;
  float: left;
  list-style: none;
  margin-left: 1em;
  position: relative;
  border-radius: 2px;
}

#loginwidget a,
#loginwidget a:visited {
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 1.2em;
  display: block;
}

#loginwidget li:hover,
#loginwidget li:active,
#loginwidget li.current {
  color: #fff;
  background: #4c9ce6;
}

#loginwidget a:hover {
  color: #fff;
}

#loginwidget li:hover .submenu {
  display: block;
}

#loginwidget .submenu {
  position: absolute;
  padding: 0 0 5px;
  top: 96%;
  right: 0;
  margin: 0;
  background: #4c9ce6;
  display: none;
  min-width: 120px;
  border-radius: 0 0 2px 2px;
  z-index: 9999;
}

#loginwidget .submenu a {
  color: #fff;
  display: block;
}

#loginwidget .submenu li {
  float: none;
  margin-left: 0;
}